<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.semanalixozero.app"
    android:installLocation="auto"
    >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SlzApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${applicationLabel}"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/SemanaLixoZero"
        tools:replace="android:label"
        >
        <activity
            android:name=".navigation.NavigationActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:label="${applicationLabel}"
            android:launchMode="singleTop"
            android:theme="@style/SemanaLixoZero.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".eventdetail.EventDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:parentActivityName=".navigation.NavigationActivity"
            android:theme="@style/SemanaLixoZero.NoActionBar"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.semanalixozero.app.navigation.NavigationActivity"
                />
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4e4eacdeaab81891701a925ab9c1f84c3d512398"
            />
    </application>

</manifest>